<?xml version="1.0" encoding="UTF-8"?>
<configuration status="ERROR">
  <appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %-5p %F:%L - %m%n" />
    </Console>
    <File name="MyFile" fileName="target/logs/all.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d %-5p %F:%L - %m%n"/>
    </File>
     <Async name="ASYNC">
      <AppenderRef ref="STDOUT"/>
      <AppenderRef ref="MyFile" />
    </Async>
  </appenders>
  <loggers>
    <logger name="org.apache.log4j1.xml" level="info" >
    	<appender-ref ref="ASYNC" />
    </logger>
      <!-- replace ERROR here with ALL to see the full serenity log in console /-->
    <root level="INFO">
      <appender-ref ref="STDOUT" />
      <appender-ref ref="MyFile" />
      <!-- appender-ref ref="ASYNC" /-->
    </root>
  </loggers>
</configuration>
